
p {
  margin-top: 0;
  margin-bottom:0;
}

body {
  /* this style will be inherited */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 3550px;
  background:#0a192f;
}



html{
  scroll-behavior: smooth;
}

.portfolio {
  margin-left: 200px;
}

/* LOADER */
.loader {
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: linear-gradient(rgb(20, 52, 101),aquamarine);
  color: #0a192f;
  height: 100%;
  width: 100%;
  z-index: 1;
  gap: 3px;
  font-size: 2rem;
  animation: load 2s forwards;
  & .bar1, .bar2, .bar3 {
    height: 50px;
    width: 20px;
    background-color:#0a192f;
    animation: grow 1.5s infinite;
  }
  & .bar2 {
    animation-delay: 0.3s;
  }
  & .bar3 {
    animation-delay: 0.6s;
  }
}

@keyframes grow {
  0% {transform: scaleY(0); opacity: 0;}
  50% {transform: scaleY(1); opacity: 1;}
  100% {transform: scaleY(0); opacity: 0;}
}

@keyframes load {
  0% {transform: scale(1); opacity: 1;}
  50% {transform: scale(1); opacity: 1;}
  100% {transform: scale(1); opacity: 0; visibility: hidden;}
}

.profile-picture {
 object-fit: cover;
 object-position: 50% 100%;
 border-radius: 1rem;
}

.hello {
  margin-top: 500px;
  margin-bottom: 500px;
}

.techno_img {
  height: 110px;
  opacity: 1;
}

.techno_container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgb(127, 255, 212, 0.4);
  margin: 3rem 10rem 1rem 1rem;
  padding: 2rem;
  border-radius: 1rem;
  align-items: center;
}

.about-page {
  display: flex;
  align-items: center;
  background-color: rgb(127, 255, 212, 0.4);
  margin: 3rem 10rem 1rem 1rem;
  padding: 2rem;
  border-radius: 1rem;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}

footer {
  margin-bottom: 4rem;
}