/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(10, 25, 47);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(74, 81, 101);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}